.a {
  fill: #fff;
  stroke: #eee;
}
.b {
  fill: #4285f4;
}
.b,
.c,
.d,
.e {
  fill-rule: evenodd;
}
.c {
  fill: #34a853;
}
.d {
  fill: #fbbc04;
}
.e {
  fill: #ea4335;
}
.f {
  stroke: none;
}
.g {
  fill: none;
}
